@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #80431e; /* color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #6a2a16; /* darker color for the thumb on hover */
}

/* Custom scrollbar for Firefox and other browsers */
body {
    scrollbar-width: thin; /* auto, thin, or none */
    scrollbar-color: #80431e #f1f1f1; /* thumb and track color */
    overflow-x: hidden;
}
